<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lucky Number</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/resources/js/jquery-2.1.0.min.js"></script>
    <script src="/resources/js/jquery-validate.min.js"></script>
    <script src="/resources/js/validation.js"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $("#form").submit(function () {
                $.ajax({
                    type: "POST",
                    url: "/save",
                    dataType: "json",
                    data: ("#form").serialize(),
                    contentType: 'application/json; charset=utf-8',
//                    data: {fio: $("#fio").val(), first: $("#first").val(), second: $("#second").val(), third: $("#third").val(), date: $("#bdate").val()},
                    success: function (data) {
                        $('#results').html(data);
                    },
                    error: function (xhr, str) {
                        alert('Возникла ошибка: ' + xhr.responseCode);
                    }
                });
            });
        });
    </script>
</head>
<body>

<div class="container" style="min-width: 1000px">
    <h1>Счастливое число</h1>

    <div class="jumbotron" style="padding: 10px 30px 20px">

        <!--<form name="loginform" class="simple-form" th:action="@{/login}" th:object="${admin}">-->
        <!--<input type="text" class="form-control" th:field="*{login}" placeholder="Логин"/>-->
        <!--<input type="password" class="form-control" th:field="*{password}" placeholder="Пароль"/>-->
        <!--<button type="submit" class="btn btn-blue">Войти</button>-->
        <!--</form>-->

        <form action="#" class="form-horizontal" id="form" method="post">
            <!--FIO-->
            <div class="form-group">
                <label class="col-md-4 control-label">Имя: </label>

                <div class="col-md-5">
                    <input type="text" id="fio" name="fio" class="form-control input-md" data-required="true"/></div>
            </div>
            Birthday
            <div class="form-group">
                <label class="col-md-4 control-label">Дата рождения: </label>

                <div class="col-md-5 input-append date" data-date-format="dd-mm-yyyy">
                    <input type="date" id="bdate" name="bdate" class="form-control input-md"
                           data-required="true"/></div>
                <!-- number1 -->
                <div class="form-group">
                    <label class="col-md-4 control-label">1: </label>

                    <div class="col-md-5">
                        <input type="number" id="first" name="first" class="form-control input-md"
                               data-required="true"/>
                    </div>
                </div>
                <!--number2 -->
                <div class="form-group">
                    <label class="col-md-4 control-label">2: </label>

                    <div class="col-md-5">
                        <input type="number" id="second" name="second"
                               class="form-control input-md" data-required="true"/>
                    </div>
                </div>
                <!-- number3 -->
                <div class="form-group">
                    <label class="col-md-4 control-label">2: </label>

                    <div class="col-md-5">
                        <input type="number" id="third" name="third" class="form-control input-md"
                               data-required="true"/></div>
                </div>
            </div>
            <!-- Save -->
            <button type="submit" id="submit" class="btn btn-warning">Сохранить изменения</button>

        </form>


    </div>

    <div id="results">вывод</div>
</div>
</body>
</html>